html {
    background-image: url('/assets/about-us-background.jpg');
}

body {
    background: rgba(0, 0, 0, 0.685);
    
}

.show-background {
    height: 100vh;
}

#cards-display {
    display: flex;
    flex-wrap: wrap;
    width: 70vw;
    margin: auto;
    margin-top: 10px;
    justify-content: center;
}

.remove-border {
    border: medium double white;
    
}

img {
    height: 27vh;
    object-fit: cover;
}

button {
    margin: 1.2rem;
    border-width: 0;
    background:none;
    border-color: none;
    border-style: none;
}
button:hover {
    background:none;
    border-width: 0;
    border-color: none;
    border-style: none;
    border-radius: 10px;
}

button:focus {
    outline: 0;
}

img:hover {
    cursor: pointer;
    transform: scale(1.2);
    box-shadow: 0 0 1px #fff, 0 0 5px #fff, 0 0 5px #ff0080, 0 0 10px #ff0080, 0 0 15px #ff0080, 0 0 20px #ff0080, 0 0 30px #ff0080;
}

#reset-button:hover {
    box-shadow:  0 0 1px rgb(231, 239, 255), 0 0 2px rgb(202, 231, 255), 0 0 3px #3a9efc, 0 0 4px #3a9efc, 0 0 6px #3a9efc, 0 0 7px #3a9efc, 0 0 9px #3a9efc;
}

#reset-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-size: 1.2em;
    width: 180px;
    height: 80px;
    color: rgb(252, 228, 245);
    background-color: black;
    text-shadow: 0 0 5px black, 0 0 10px #ff0080;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0 0 1px #fff, 0 0 5px #fff, 0 0 5px #ff0080, 0 0 10px #ff0080, 0 0 15px #ff0080, 0 0 20px #ff0080, 0 0 30px #ff0080;
}

.hidden {
    display: none;
}

#win-message > h1 {
    margin: auto;
    text-align: center;
    font-size: 10rem;
}

footer {
    height: 25px;
}