body {
    background-color: rgb(29, 28, 28)
}

#cards-display {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    margin: auto;
    justify-content: center;
}

img {
    height: 200px;
}

button {
    margin: 1rem;
}

#reset-button {
    display: block;
    margin: auto;
    width: 200px;
    height: 2rem;
}

.hidden {
    display: none;
}