header {
    display: flex;
    height: 200px;
    background: black;
    color: white;
    width: 100%;
}

h1 {
    font-size: 3rem;
}

nav {
    margin-top: 50px;
    margin-left: 1rem;
    font-size: 2rem;
}

main {
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
}

div {
    margin: 1rem;
    padding: .25rem;
}

img {
    height: 300px;
}