
body {
    font-family: sans-serif;
    background-image: url('/assets/welcome-background.jpg');
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-width: 100vw;
    margin: auto;
    
}

header {
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
}

.tarot-card {
    height: 500px;
}

main {
    background-image: url('/assets/vintage-wp.jpeg');
    background-repeat: repeat;
    border-radius: 15px;
    opacity: .95;
    max-width: 80vw;
    margin: auto;
    padding: 20px;
}

#tarot-reading {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.button {
    text-align: center;
}

#middle-card {
    margin-top: 30px;
}

#left-card, #right-card {
    margin-top: 150px;
}

.hidden {
    display: none;
}
