
body {
    font-family: sans-serif;
    background-image: url('/assets/about-us-background.jpg');
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-width: 100vw;
    margin: auto;
    
}

header {
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
}


.tarot-card {
    height: 500px;

}

body {
    height: 100vh;
    background: rgba(0, 0, 0, 0.363);

}

main {
    max-width: 960px;
    margin: auto;
    padding: 20px;
}

#tarot-reading {
    display: flex;
<<<<<<< HEAD
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
=======
    justify-content: center;
    border-radius: 5px;
>>>>>>> origin/tuesday
}

.button {
    text-align: center;
}

#render-reading {
    margin-top: 80px;
    font-size: 1.2em;
    width: 180px;
    height: 80px;
    background-color:goldenrod;
    color: brown;
    cursor: pointer;
}

#middle-card-back, #middle-card-face {
    margin-top: 30px;
}

<<<<<<< HEAD
#left-card-back, #right-card-back, 
#left-card-face, #right-card-face {
    margin-top: 150px;
=======
.text-reading {
    position: relative;
    display: flex;
    width: 60vw;
    height: 30vh;
    margin: 0 auto;
    color: black;
    text-shadow: none;
    padding: 8px;
}

#past, #present, #future {
    margin: 0 auto;
    width: 60vw;
    background-color: rgb(210,180,140);
    border: 1px dashed black;
    padding: 13px;
}

.ppf {
    padding-left: 2px;
    padding-right: 2px;
    margin: 0 auto;
    background-color: rgb(155, 128, 94);
    border-radius: 2px;
}

#pt {
    width: 15vw;
    position: absolute;
    top: 0;
    left: 2vw;
}

#pret {
    width: 15vw;
    position: absolute;
    top: 0;
    left: 23vw;

}

#ft {
    width: 15vw;
    position: absolute;
    top: 0;
    left: 44vw;
>>>>>>> origin/tuesday
}

.hidden {
    display: none;
}

<<<<<<< HEAD
.flipped {
    -moz-transform: rotate(180deg);
-webkit-transform: rotate(180deg);
-o-transform: rotate(180deg);
-ms-transform: rotate(180deg);
transform: rotate(180deg);
=======
#render-reading, #reset-reading {
    font-size: 1.2em;
    width: 180px;
    height: 80px;
    background-color:rgb(44, 29, 38);
    color: #FFB9DC;
    text-shadow: 0 0 5px black, 0 0 10px #ff0080;
    cursor: pointer;
    border-radius: 6px;
>>>>>>> origin/tuesday
}

.text-reading {
   background-color: aliceblue;
}
