@import url('https://fonts.googleapis.com/css?family=Nunito|Roboto&display=swap');

a {
    text-decoration: underline;
    color: rgba(253, 243, 250, 0.952);
}

body {
    background-color: rgb(44, 42, 42);
    overflow-x: hidden;
}

main {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-left: 4rem;
    padding-right: 4rem;
    justify-content: space-between; 
}

img {
    height: 300px;
    
}

.card:hover {
    transform: scale(1.3);
}

.card {
    margin: 1rem;
    text-align: center;
}

p {
    color: black;
    background-color: rgb(210,180,140);
    padding: 1rem;
    border-radius: 5px;
    border: dashed 1px;
    width: 200px;
}

footer {
    height: 100px;

}

.birthday {
    border: 5px solid rgba(253, 243, 250, 0.952);
    padding: 5px;
    box-shadow: 0 0 1px #fff, 0 0 5px #fff, 0 0 5px #ff0080, 0 0 10px #ff0080, 0 0 15px #ff0080, 0 0 20px #ff0080, 0 0 30px #ff0080;
}