header {
    display: flex;
    height: 200px;
    background: black;
    color: white;
}

h1 {
    font-size: 5rem;
}

nav {
    margin-top: 80px;
    margin-left: 1rem;
    font-size: 3rem;
}

main {
    display: flex;
    margin: auto;
    max-width: 960px;
}

img {
    height: 300px;
    
}

.card:hover {
    transform: scale(1.5);
}

.card {
    margin: 1rem;
    text-align: center;
}