@import url('https://fonts.googleapis.com/css?family=Nunito|Roboto&display=swap');

html {
    background-image: url('/assets/about-us-background.jpg')
}

header {
    border-bottom-style:double;
    border-color: aliceblue;
}

body {
    background: rgba(0, 0, 0, 0.685);
    overflow-x: hidden;
}

main {
    width: 70vw;
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
    padding-left: 4rem;
    padding-right: 4rem;
    justify-content: space-between; 
}

div {
    background-color: rgba(0, 0, 0, 0.226);
    border: medium double white;
}

img {
    margin-top: 5px;
    height: 300px;
}

.card:hover {
    transform: scale(1.3);
}

.card {
    margin: 1rem;
    text-align: center;
}

p {
    color: black;
    background-color: rgb(210,180,140);
    padding: 1rem;
    border-radius: 5px;
    border: dashed 1px;
    width: 190px;
    margin-left: 5px;
    margin-right: 5px;
}

.birthday {
    border: 5px solid rgba(253, 243, 250, 0.952);
    padding: 5px;
    box-shadow: 0 0 1px #fff, 0 0 5px #fff, 0 0 5px #ff0080, 0 0 10px #ff0080, 0 0 15px #ff0080, 0 0 20px #ff0080, 0 0 30px #ff0080;
}

footer {
    height: 100px;
}