@import url('https://fonts.googleapis.com/css?family=Nunito|Roboto&display=swap');
body {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-around;
    height: 10vh;
    width: 100vw;
    background-color: rgba(7, 0, 2, 0.747);
    color: rgba(253, 204, 238, 0.979);
    font-family: 'Nunito', sans-serif;
}

h1 {
    height: 100%;
    width: 70%;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 9px;
    padding-left: 22px;
    font-size: 5vh;
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 2px #ff0080, 0 0 4px #ff0080, 0 0 6px #ff0080, 0 0 10px #ff0080, 0 0 15px #ff0080;
}

nav {
    width: 70%;
    margin: auto;
    font-size: 2vh;
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 2px #ff0080, 0 0 4px #ff0080, 0 0 6px #ff0080, 0 0 9px #ff0080, 0 0 10px #ff0080;
}

a {
    float: right;
    justify-content: space-around;
    margin: auto 3%;
    text-decoration: underline;
    color: rgba(253, 243, 250, 0.952);
}

a:hover {
    cursor: pointer;
}

main {
    color: rgb(252, 228, 245);
    font-family: 'Roboto', sans-serif;
    text-shadow: 0 0 2px #816b75;
}