@import url('https://fonts.googleapis.com/css?family=Nunito|Roboto&display=swap');
body {
    margin: 0;
}
header {
    display: flex;
    justify-content: space-around;
    height: 10vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.877);
    color: rgba(253, 243, 250, 0.952);
    font-family: 'Nunito', sans-serif;
    text-shadow: 0 0 1px #fff, 0 0 5px #fff, 0 0 5px #ff0080, 0 0 10px #ff0080, 0 0 15px #ff0080, 0 0 20px #ff0080, 0 0 30px #ff0080;
}

h1 {
    height: 80%;
    width: 70%;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 13px;
    padding-left: 10px;
}

nav {
    width: 70%;
    margin: auto;
}

a {
    float: right;
    justify-content: space-around;
    margin: auto 3%;
    text-decoration: underline;
    color: rgba(253, 243, 250, 0.952);
}

a:hover {
    cursor: pointer;
}

main {
    color: rgb(252, 228, 245);
    font-family: 'Roboto', sans-serif;
    text-shadow: 0 0 2px #816b75;
}