@import url('https://fonts.googleapis.com/css?family=Nunito|Roboto&display=swap');
 
body {
    position: static;
    background: rgb(0, 0, 0);
    overflow-x: hidden;
}

#tarot {
    width: 50vw;
    max-width: 500px;
    text-align: center;
    height: 6vh;
    padding: 0;
    background-color: rgba(29, 6, 32, 0.342);
    border-radius: 3px;
    box-shadow: 0 0 1px rgb(231, 239, 255), 0 0 2px rgb(202, 231, 255), 0 0 3px #3a9efc, 0 0 4px #3a9efc, 0 0 6px #3a9efc, 0 0 7px #3a9efc, 0 0 9px #3a9efc;
}

div {
    position: absolute;
    width: 50vw;
    height: 65vh;
    left: 30%;
    right: 30%;
    margin-top: 15vh;
    margin-left: -65px;
    z-index: -1;
    justify-content: center;
    text-align: center;
}

div::before {
    display:block;
    content:'';
    position:absolute;
    width:50vw;
    height: 65vh;
    box-shadow:inset 0px 0px 10px 10px rgb(0, 0, 0);
}

img {
    height: 65vh;
    width: 50vw;
}

main {
    position: static;
    width: 100vw;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-between;
    height: 90vh;
    margin-top: 2vh;
    max-width: 90vw;
}

#welcome-text {
    margin-top: 40px;
    margin-left: 5px;
    text-align: left;
    font-size: 12pt;
    width: 14vw;
    height: 40vh;
    padding: 15px;
    background-color: rgba(15, 0, 4, 0.747);;
    border-radius: 5px;
    box-shadow: 0 0 1px rgb(231, 239, 255), 0 0 2px rgb(202, 231, 255), 0 0 3px #3a9efc, 0 0 4px #3a9efc, 0 0 6px #3a9efc, 0 0 7px #3a9efc, 0 0 9px #3a9efc;
}

form {
    padding-top: 30px;
    width: 14vw;
    height: 23vh;
    left: 35%;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
}

legend {
    text-align: left;
    border-radius: 2px;
    box-shadow: 0 0 1px rgb(231, 239, 255), 0 0 2px rgb(202, 231, 255), 0 0 3px #3a9efc, 0 0 4px #3a9efc, 0 0 6px #3a9efc, 0 0 7px #3a9efc, 0 0 9px #3a9efc;
}

button {
    color: rgb(252, 228, 245);
    background-color: black;
    width: 50%;
    height: 5vh;
    font-size: 14pt;
    border-radius: 3px;
}

button:hover {
    cursor: pointer;
    box-shadow: 0 0 1px rgb(231, 239, 255), 0 0 2px rgb(202, 231, 255), 0 0 3px #3a9efc, 0 0 4px #3a9efc, 0 0 6px #3a9efc, 0 0 7px #3a9efc, 0 0 9px #3a9efc;
}

input[type='submit']:hover {
    cursor: pointer;
}

fieldset {
    background-color: rgba(15, 0, 4, 0.747);
    border-radius: 5px;
}

header {
    margin-top: 15px;
    border: none;
}