body {
    position: relative;
    left: -8px;
    top: -21px;
}

img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    height: 100vh;
    width: 100vw;
}

header {
    background-color: rgba(0, 0, 0, 0.788);
    color: rgba(253, 243, 250, 0.952);
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
}