@import url('https://fonts.googleapis.com/css?family=Nunito|Roboto&display=swap');

body {
    position: relative;
    left: -8px;
    top: -21px;
}

img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    height: 110vh;
    width: 100vw;
}

header {
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.678);
    color: rgba(253, 243, 250, 0.952);
    font-family: 'Nunito', sans-serif;
    text-shadow: 0 0 1px #fff, 0 0 5px #fff, 0 0 5px #ff0080, 0 0 10px #ff0080, 0 0 15px #ff0080, 0 0 20px #ff0080, 0 0 30px #ff0080;
}

a {
    margin-top: 35px;
    text-decoration: underline;
}

a:hover {
    cursor: pointer;
}

main {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 16pt;
    height: 100%;
    margin-top: 20px;
    color: rgb(252, 228, 245);
    font-family: 'Roboto', sans-serif;
    text-shadow: 0 0 2px #816b75;
}

#welcome-text {
    margin-left: 5px;
    background-color:  rgba(0, 0, 0, 0.479);
    text-align: left;
    justify-items: left;
    line-height: 18pt;
    width: 19%;
    padding: 15px;
    border-radius: 5px;
}

form {
    position: absolute;
    background-color:  rgba(0, 0, 0, 0.644);
    padding: 5px;
    height: 200px;
    left: 35%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20vh;
    border-radius: 5px;
}

input[type='submit'] {
    color: rgb(252, 228, 245);
    background-color: black;
    width: 100px;
    height: 30px;
}

input[type='submit']:hover {
    cursor: pointer;
}

legend {
    text-align: left;
}